.controller {
  box-sizing: border-box;
  padding: 7px 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
}

.input_wrapper {
  width: 100%;
  height: 100%;
  padding: 0 0 0 8px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: #f3f3f3;
}
.input_wrapper:hover,
.url_text_box:focus + .input_wrapper {
  background: #ebebeb;
}

.input_wrapper .icon {
  color: #bebebe;
  font-size: 19px;
  margin: 0 1px 0 0;
}

.url_text_box {
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 0 0 6px;
  letter-spacing: 0.4px;
  transition: 0.3s;
  background: none;
}
.url_text_box:focus {
  outline: none;
}

.button_wrapper {
  padding: 0 8px 0 6px;
  display: flex;
}

.button {
  box-sizing: border-box;
  width: 30px !important;
  height: 30px !important;
  margin: 0 3px;
  border: none;
  background: none;
  transition: 0.3s;
  border-radius: 100%;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:focus {
  outline: none;
}
.button:hover {
  background: rgba(0, 0, 0, 0.04);
}
.enabled {
  color: rgb(0, 0, 0);
}
.disabled {
  color: rgba(0, 0, 0, 0.4);
}
