.frame_container {
  display: flex;
  justify-content: space-between;
  background: #ddd;
  height: 35px;
  -webkit-app-region: drag;
  z-index: -1;
}

.frame_button_wrapper {
  display: flex;
}

.button {
  background: rgba(0, 0, 0, 0);
  border: none;
  height: 100%;
  width: 30px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  -webkit-user-select: auto;
  user-select: auto;
  -webkit-app-region: no-drag;
}
.button:hover {
  background: rgba(0, 0, 0, 0.08);
}
.button:nth-child(3):hover {
  background: red;
}

.button .icon {
  width: 12px;
}
