.join_wrapper {
  width: 100%;
  text-align: center;
  padding: 50px 0 0;
}

.logo {
  width: 150px;
}

.logo_text {
  margin: 50px 0 0 0;
  height: 50px;
}

.top_bar {
  margin: 30px auto 0;
  display: flex;
  justify-content: center;
}

.bottom_bar {
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
}

.bar_back {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 80px;
  background: #efefef;
  position: relative;
  border-radius: 7px;
  text-align: center;
  box-shadow: 0 3px 10px -2px gray;
}

.start {
  display: flex;
  justify-content: space-between;
  width: 30%;
  height: 80px;
  background: #54adfd;
  position: relative;
  border-radius: 7px;
  text-align: center;
  box-shadow: 0 3px 4px -2px gray;
  align-items: center;
}
.start:before {
  content: '';
  position: absolute;
  left: -23px;
  width: 0;
  height: 0;
  border-bottom: 40px solid transparent;
  border-top: 40px solid transparent;
  border-right: 26px solid #54adfd;
  border-radius: 7px;
}
.start:after {
  content: '';
  position: absolute;
  right: -23px;
  width: 0;
  height: 0;
  border-bottom: 40px solid transparent;
  border-top: 40px solid transparent;
  border-left: 26px solid #54adfd;
  border-radius: 7px;
}

.password {
  margin: 0 20px 0 0;
  font-size: 24px;
  padding: 0;
  border: 0;
  width: 92%;
  background-color: #efefef;
}

.lock_image {
  width: 30px;
  margin: 0 10px 0 15px;
}

.password:focus {
  outline: none;
}

.password::placeholder {
  color: #bebebe;
}

.pass_submit {
  border: none;
  background-color: #54adfd;
  font-size: 30px;
  width: 98%;
  color: white;
  height: 90%;
}
.pass_submit:hover {
  cursor: pointer;
}
