.join_wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0 30px;
}

.logo_image {
  width: 100px;
}

.logo_title {
  margin: 30px 0 0;
  width: 250px;
}

.top_bar {
  margin: 30px auto 0;
  display: flex;
  justify-content: center;
}

.bottom_bar {
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
}

.submit_wrapper {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 60px;
  background: #54adfd;
  position: relative;
  border-radius: 7px;
  text-align: center;
  box-shadow: 0 3px 4px -2px gray;
  align-items: center;
}
.submit_wrapper:before {
  content: '';
  position: absolute;
  left: -21px;
  width: 0;
  height: 0;
  border-bottom: 32px solid transparent;
  border-top: 32px solid transparent;
  border-right: 26px solid #54adfd;
  border-radius: 7px;
}
.submit_wrapper:after {
  content: '';
  position: absolute;
  right: -21px;
  width: 0;
  height: 0;
  border-bottom: 32px solid transparent;
  border-top: 32px solid transparent;
  border-left: 26px solid #54adfd;
  border-radius: 7px;
}

.pass_submit {
  border: none;
  background-color: #54adfd;
  font-size: 23px;
  letter-spacing: 0.8px;
  width: 98%;
  color: white;
  height: 90%;
  cursor: pointer;
}

.password_form {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.password_box_wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  height: 60px;
  margin: 30px auto;
  background: #efefef;
  position: relative;
  border-radius: 7px;
  text-align: center;
  box-shadow: 0 3px 10px -2px gray;
}

.password {
  margin: 0 20px 0 0;
  font-size: 20px;
  padding: 0 0 0 5px;
  letter-spacing: 0.8px;
  border: 0;
  width: 100%;
  background-color: #efefef;
}

.lock_image {
  width: 25px;
  margin: 0 10px 0 15px;
}

.password:focus {
  outline: none;
}

.password::placeholder {
  color: #bebebe;
}
