.sidebar {
  width: 60px;
  margin: 1px 0 0;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #f3f3f3;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  padding: 70px 0 0;
  box-sizing: border-box;
  z-index: 1000;
}

.latest_data_wrapper {
  margin: 0;
}

.menu_button_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 160px;
  padding: 0 0 10px;
}

.icon_image {
  height: 50px;
}

.menu_image {
  height: 23px;
}

.menu_icon {
  font-size: 30px;
  color: #3d3d3d;
}

@media screen and (max-height: 800px) {
  .sidebar {
    padding: 0;
  }
}
