.container {
  max-width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.tabs_container {
  display: flex;
  height: 100%;
  max-width: 90%;
}

.add_tab_button {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  -webkit-user-select: auto;
  user-select: auto;
  -webkit-app-region: no-drag;
  border-radius: 100%;
  transition: 0.3s;
  margin-left: auto;
}
.add_tab_button:hover {
  background: rgba(0, 0, 0, 0.05);
}

.add_tab_button .icon {
  width: 12px !important;
  height: 12px !important;
}
