.container {
  width: auto;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.frame_button_wrapper {
  display: flex;
}

.add_tab_button {
  margin: 0 0 0 8px;
  height: calc(100% - 10px);
  padding: 0 6px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  -webkit-user-select: auto;
  user-select: auto;
  -webkit-app-region: no-drag;
  transition: 0.5s;
  border-radius: 100%;
}
.add_tab_button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.add_tab_button .icon {
  width: 12px;
}
