.tab_item_wrapper {
  height: 100%;
  max-width: 250px;
  min-width: 100px;
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  z-index: 1000;
  -webkit-user-select: auto;
  user-select: auto;
  -webkit-app-region: no-drag;
  cursor: default;
  animation: fadeIn 0.3s;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tab_item_wrapper:hover > .delete_button {
  opacity: 1;
}

.is_current {
  z-index: 1001;
  background: #fff;
}

.is_not_current {
  z-index: 1000;
}

.favicon {
  width: 15px !important;
  margin: 0 10px 0 0;
}

.title {
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  color: var(--color-text-100);
  letter-spacing: 0.4px;
  word-break: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.delete_button {
  position: absolute;
  right: 5px;
  width: 25px !important;
  height: 25px !important;
  border-radius: 100%;
  border: none;
  background: none;
  z-index: 1005;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.delete_button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.delete_button .icon {
  width: 9px;
  height: 9px;
  margin: 0 auto;
}
