.tab_item_wrapper {
  width: 100%;
  max-width: 100px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  z-index: 1000;
  -webkit-user-select: auto;
  user-select: auto;
  -webkit-app-region: no-drag;
  cursor: default;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tab_item_wrapper:hover > .delete_button {
  opacity: 1;
}

.is_current {
  z-index: 1001;
  background: #fff;
}

.is_not_current {
  z-index: 1000;
  background: #f1f2f3;
}

.favicon {
  margin: 1px 10px 0 0;
  width: 15px !important;
}

.title {
  font-size: 15px;
  width: 50px;
}

.delete_button {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: none;
  background: none;
  z-index: 1005;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.delete_button:hover {
  background: rgba(0, 0, 0, 0.05);
}

.delete_button .icon {
  width: 9px;
}
